@font-face{
    font-family: "fontawesome";
    src: url(../lib/font/fontawesome.woff);
    font-weight: normal;
    font-style: normal;
}
.w3-body{
    position: relative;
    min-height: 100%;
    font-family: Verdana,sans-serif;
    font-size: 15px;

}
.container-top {
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #fff;
    overflow: hidden;
}
.w3-float-Left{
    float: left;
}
.w3-logo{
    font-family: fontawesome;
    text-decoration: none;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    top: 17px;

}
.w3-div-logo{
    margin:4px 0px 6px 0px;
    width: 49.99999%
}

.w3-slogan{
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    margin-top: 16px;
    width: 49.99999%;
    font-size: 15px;
    
}
.w3-slogan .w3-div-slogan{
    position: relative;
    top: 5px;
   
}


.w3-float-right {
    float: right;
}

.w3-logo .dotcom{
    color: #4CAF50;
}
.w3-navbar{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #4CAF50;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    letter-spacing: 4px;
    z-index: 5;
}
.w3-navbar-item{
    white-space: normal;
    padding: 16px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}
.w3-nav-sidebar{
    display: block;
    z-index: 3;
    width: 230px;
    position: relative;


    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    height: 100%;
}
.w3-icon{
    float: right;
    padding: 16px 16px;
    display: block;
    color: white;
    font-size: 20px;
}
.w3-container{
    padding: 0.01em 16px;
}
.w3-barTitle{
    margin-top: 16px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
    color: #000
}
.w3-itenBar{
    display: block;
    padding: 0 16px;
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #000;
}