@font-face{
    font-family: "fontawesome";
    src: url(../lib/font/fontawesome.woff);
    font-weight: normal;
    font-style: normal;
}

.w3-float-Left{
    float: left;
}
.w3-div-logo{
    margin:4px 0 6px 0;
    width: 49.999%
}
.w3-logo{
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: relative;
    top: 17px;
    box-sizing: inherit;
}

.w3-white{
    color: #000;
    background-color: #fff;
}

.container-top {
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #fff;
    overflow: hidden;
}
.w3-float-right {
    float: right;
}
.w3-tipografia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.w3-logo .dotcom{
    color: #4CAF50;
}
.w3-body{
    position: relative;
    min-height: 100%;

}