

.minha-classe, section {
    background-image: url("../res/gradient_bg.png");
    background-size: cover;
    padding: 10px;
}

.tipografia, body, h2, h1, p {
    font-family:Arial, Helvetica, sans-serif;
}

h2, h1 {
    color: teal;
}

section h1 {
    color: red;
    font-size: 22px
}
.minha-classe .video{
    display: flex;
    align-items: center;
}

a {
    -webkit-text-fill-color: black;
    text-decoration-line: none;
}

p {
    text-align: justify;
}